@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section>
        <p id="instructions">Enter provider number.</p>
        <form id="input-form" class="d-flex">
            <input id="input-element"
                   class="form-control me-2"
                   type="text"
                   aria-label="Input" autofocus>
        </form>
    </section>
    <section style="margin-top: 20px" id="data-display">
        <textarea id="json-responses" class="form-control me-2" rows="5"></textarea>
    </section>
</div>

@section Scripts {
    <script src="~/js/terminal.js" asp-append-version="true"></script>
}