@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>

    <ul>
        @foreach(var member in Model.Members)
        {
            <li>@member.Name (@member.Number) </li>
        }
    </ul>
</div>
