@model ChocAn.DataCenterConsole.Models.ProviderServiceIndexViewModel
@{
    ViewData["Title"] = "Services";
}

<div>
    <section class="input-group">
        <span class="input-group-text">Find service</span>
        <input id="find" type="text" class="form-control" placeholder="by name or by code..." aria-label="Input group example" aria-describedby="btnGroupAddon">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Go</button>
    </section>
    <section style="margin-top: 20px">
        <p>Found 2</p>
        <hr />
        <ul class=" = grid-item grid-item-4">
            @foreach (var service in Model.ProviderServices)
            {
                <li>
                    <a class="nav-link text-dark"
                       asp-area=""
                       asp-controller="Member"
                       asp-action="Details"
                       asp-route-id="@service.Code">@service.Name</a>
                </li>
            }
        </ul>
    </section>
</div>

