@{
    var title = ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChocAn - Data Center</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/71342f9bf4.js" crossorigin="anonymous"></script>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"><i title ="Menu" class='fas fa-bars' id="header-toggle"></i></div>
        <h2>@title</h2>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav_logo">
                    <i title ="Data Center" class='fas fa-database nav_logo-icon'></i>
                    <span class="nav_logo-name">Data Center</span>
                </a>
                <div class="nav_list">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav_link" is-active-route>
                        <i title="Home" class='fas fa-home nav_icon'></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a asp-area="" asp-controller="Member" asp-action="Index" class="nav_link" is-active-route>        
                        <i title="Members" class='fas fa-user nav_icon'></i>
                        <span class="nav_name">Members</span>
                    </a>
                    <a asp-area="" asp-controller="Provider" asp-action="Index" class="nav_link" is-active-route>
                        <i title="Providers" class='fas fa-user-md nav_icon'></i>
                        <span class="nav_name">Providers</span>
                    </a>
                    <a asp-area="" asp-controller="ProviderService" asp-action="Index" class="nav_link" is-active-route>
                        <i title="Services" class='fas fa-heart nav_icon'></i>
                    <span class="nav_name">Services</span>
                    </a>
                </div>
            </div>
            <a href="#" class="nav_link">
                <i title="Sign Out"class='fas fa-sign-out-alt nav_icon'></i>
                <span class="nav_name">Sign Out</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="container-fluid" style="margin-top: 100px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div>
            &copy; 2021 - DataCenter Console
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
        });</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
