@model ChocAn.DataCenterConsole.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Data Center";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
</div>
<footer class="border-top footer text-muted">
    <div>
        &copy; 2021 - DataCenter Console
    </div>
</footer>
